@charset "UTF-8";
/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */
/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */
/* 颜色变量 */
/* 行为相关颜色 */
/* 文字基本颜色 */
/* 背景颜色 */
/* 边框颜色 */
/* 尺寸变量 */
/* 文字尺寸 */
/* 图片尺寸 */
/* Border Radius */
/* 水平间距 */
/* 垂直间距 */
/* 透明度 */
/* 文章场景相关 */
.container.data-v-5500802c {
  padding: 20rpx;
}
.content.data-v-5500802c:after {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
textarea.data-v-5500802c {
  border: 1rpx solid #EEEEEE;
  border-radius: 20rpx;
  padding: 20rpx;
}
.title.data-v-5500802c {
  width: 180rpx;
}
.avator.data-v-5500802c {
  width: 150rpx;
  height: 60rpx;
}
.right-input.data-v-5500802c {
  flex: 1;
  text-align: left;
  padding: 0 24rpx;
}
.cu-form-group.active.data-v-5500802c {
  justify-content: space-between;
}
.btn.data-v-5500802c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20rpx 0;
}
.cu-form-group.data-v-5500802c {
  padding: 0 24rpx;
  background-color: transparent;
  min-height: inherit;
}
.cu-form-group + .cu-form-group.data-v-5500802c {
  border: 0;
}
.cu-form-group uni-input.data-v-5500802c {
  padding: 0 30rpx;
}
.uni-input.data-v-5500802c {
  padding: 0 30rpx;
}
.cu-form-group uni-textarea.data-v-5500802c {
  padding: 30rpx;
  margin: 0;
}
.cu-form-group uni-picker.data-v-5500802c::after {
  line-height: 68rpx;
}
.select .uni-input.data-v-5500802c {
  line-height: 68rpx;
}
.input .right-input.data-v-5500802c {
  line-height: 68rpx;
}

